.splash-background {
    -fx-background-color: linear-gradient(to bottom right, #6fb1ff, #2e69ff);
}

.main-background {
    -fx-background-color: beige;
}

.text-field {
    -fx-background-radius: 4;
    -fx-border-color: lightgray;
    -fx-border-radius: 4;
}

.start-button {
       -fx-text-fill: white;
      -fx-background-color: linear-gradient(#6fb1ff, #2e69ff);
      -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 2);
}

.start-button:hover{
     -fx-background-color: linear-gradient(#84bfff, #3a78ff);
}

.start-button:pressed {
  -fx-background-color: #2a5ad8;
}
.start-button:disabled {
  -fx-background-color: #a7c2ff;
  -fx-text-fill: rgba(255,255,255,0.85);
  -fx-opacity: 1; /* nicht ausgrauen, Farbe bleibt kontrolliert */
  -fx-effect: none;
}

.stop-button {
    -fx-background-color: linear-gradient(to right, indianred, darkred);
    -fx-text-fill: white;
    -fx-background-radius: 4;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #6fb1ff, #2e69ff);
}